header{
    
    nav{
        padding: 0 2rem;
        background-color: #391852;
        font-weight: 500;
        
        a.nav-link{
            font-size: 1.5rem;
        }

        a.navbar-brand{
            font-size: 2.5rem;

            img{
                width: 3rem;
                margin-right: 0.6rem;
            }
        }
    

    }
}
